<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<dict>
		<key>app</key>
		<string>LevelHelper 2</string>
		<key>author</key>
		<string>Vladu Bogdan</string>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>frames</key>
	<dict>
		<key>New Piskel</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<true/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array>
					<dict>
						<key>category</key>
						<integer>1</integer>
						<key>density</key>
						<integer>1</integer>
						<key>friction</key>
						<real>0.80000000000000004</real>
						<key>mask</key>
						<integer>65535</integer>
						<key>name</key>
						<string>UntitledConcaveShape</string>
						<key>points</key>
						<array>
							<array>
								<string>{-41, -92}</string>
								<string>{41, -92}</string>
								<string>{41, 91}</string>
								<string>{-42, 91}</string>
								<string>{-42, -91}</string>
							</array>
						</array>
						<key>restitution</key>
						<integer>0</integer>
						<key>sensor</key>
						<false/>
						<key>shapeID</key>
						<integer>0</integer>
					</dict>
				</array>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>frame</key>
			<string>{{4.000000, 4.000000}, {84.000000, 184.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52.000000, 60.000000}, {84.000000, 184.000000}}</string>
			<key>sourceSize</key>
			<string>{84.000000, 184.000000}</string>
			<key>uuid</key>
			<string>8707EACD-2928-4297-B022-BC74B9A74451</string>
		</dict>
		<key>New Piskel (1)</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<true/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array>
					<dict>
						<key>category</key>
						<integer>1</integer>
						<key>density</key>
						<integer>1</integer>
						<key>friction</key>
						<real>0.80000000000000004</real>
						<key>mask</key>
						<integer>65535</integer>
						<key>name</key>
						<string>UntitledConcaveShape</string>
						<key>points</key>
						<array>
							<array>
								<string>{103, 7}</string>
								<string>{-84, 7}</string>
								<string>{-24, -55}</string>
								<string>{103, -56}</string>
							</array>
							<array>
								<string>{-24, -55}</string>
								<string>{-24, -56}</string>
								<string>{103, -56}</string>
							</array>
						</array>
						<key>restitution</key>
						<integer>0</integer>
						<key>sensor</key>
						<false/>
						<key>shapeID</key>
						<integer>0</integer>
					</dict>
				</array>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>frame</key>
			<string>{{4.000000, 196.000000}, {188.000000, 64.000000}}</string>
			<key>offset</key>
			<string>{10.000000, 24.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{44.000000, 72.000000}, {188.000000, 64.000000}}</string>
			<key>sourceSize</key>
			<string>{256.000000, 256.000000}</string>
			<key>uuid</key>
			<string>0402196F-78BF-432A-96B3-3FFA78BBC9D7</string>
		</dict>
		<key>button</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{192.000000, 40.000000}, {60.000000, 116.000000}}</string>
			<key>offset</key>
			<string>{-46.000000, 18.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52.000000, 52.000000}, {60.000000, 116.000000}}</string>
			<key>sourceSize</key>
			<string>{256.000000, 256.000000}</string>
			<key>uuid</key>
			<string>A86107B1-9F9F-4F79-9900-7F44A944283B</string>
		</dict>
		<key>hero</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<true/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array>
					<dict>
						<key>category</key>
						<integer>1</integer>
						<key>density</key>
						<real>0.29999999999999999</real>
						<key>friction</key>
						<real>0.69999999999999996</real>
						<key>mask</key>
						<integer>65535</integer>
						<key>name</key>
						<string>UntitledConcaveShape</string>
						<key>points</key>
						<array>
							<array>
								<string>{-11, -14}</string>
								<string>{11, -14}</string>
								<string>{11, 13}</string>
								<string>{-12, 13}</string>
								<string>{-12, -13}</string>
							</array>
						</array>
						<key>restitution</key>
						<integer>0</integer>
						<key>sensor</key>
						<false/>
						<key>shapeID</key>
						<integer>0</integer>
					</dict>
				</array>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>frame</key>
			<string>{{200.000000, 4.000000}, {24.000000, 28.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{60.000000, 116.000000}, {24.000000, 28.000000}}</string>
			<key>sourceSize</key>
			<string>{24.000000, 28.000000}</string>
			<key>uuid</key>
			<string>5CFE4D3D-6C15-4342-8C6C-B9097D6F91CC</string>
		</dict>
		<key>jumpButton</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{96.000000, 4.000000}, {88.000000, 88.000000}}</string>
			<key>offset</key>
			<string>{-12.000000, -8.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{72.000000, 92.000000}, {88.000000, 88.000000}}</string>
			<key>sourceSize</key>
			<string>{256.000000, 256.000000}</string>
			<key>uuid</key>
			<string>A6BD89F3-D061-4D94-B261-2B130DCBE313</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>ratio</key>
		<integer>2</integer>
		<key>size</key>
		<string>{256.000000, 264.000000}</string>
		<key>textureFileName</key>
		<string>spritesheets.png</string>
	</dict>
</dict>
</plist>
