<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<dict>
		<key>app</key>
		<string>LevelHelper 2</string>
		<key>author</key>
		<string>Vladu Bogdan</string>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>frames</key>
	<dict>
		<key>New Piskel</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<true/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array>
					<dict>
						<key>category</key>
						<integer>1</integer>
						<key>density</key>
						<integer>1</integer>
						<key>friction</key>
						<real>0.80000000000000004</real>
						<key>mask</key>
						<integer>65535</integer>
						<key>name</key>
						<string>UntitledConcaveShape</string>
						<key>points</key>
						<array>
							<array>
								<string>{-20.5, -46}</string>
								<string>{20.5, -46}</string>
								<string>{20.5, 45.5}</string>
								<string>{-21, 45.5}</string>
								<string>{-21, -45.5}</string>
							</array>
						</array>
						<key>restitution</key>
						<integer>0</integer>
						<key>sensor</key>
						<false/>
						<key>shapeID</key>
						<integer>0</integer>
					</dict>
				</array>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>frame</key>
			<string>{{2.000000, 2.000000}, {42.000000, 92.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26.000000, 30.000000}, {42.000000, 92.000000}}</string>
			<key>sourceSize</key>
			<string>{42.000000, 92.000000}</string>
			<key>uuid</key>
			<string>8707EACD-2928-4297-B022-BC74B9A74451</string>
		</dict>
		<key>New Piskel (1)</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<true/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array>
					<dict>
						<key>category</key>
						<integer>1</integer>
						<key>density</key>
						<integer>1</integer>
						<key>friction</key>
						<real>0.80000000000000004</real>
						<key>mask</key>
						<integer>65535</integer>
						<key>name</key>
						<string>UntitledConcaveShape</string>
						<key>points</key>
						<array>
							<array>
								<string>{51.5, 3.5}</string>
								<string>{-42, 3.5}</string>
								<string>{-12, -27.5}</string>
								<string>{51.5, -28}</string>
							</array>
							<array>
								<string>{-12, -27.5}</string>
								<string>{-12, -28}</string>
								<string>{51.5, -28}</string>
							</array>
						</array>
						<key>restitution</key>
						<integer>0</integer>
						<key>sensor</key>
						<false/>
						<key>shapeID</key>
						<integer>0</integer>
					</dict>
				</array>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>frame</key>
			<string>{{2.000000, 98.000000}, {94.000000, 32.000000}}</string>
			<key>offset</key>
			<string>{5.000000, 12.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22.000000, 36.000000}, {94.000000, 32.000000}}</string>
			<key>sourceSize</key>
			<string>{128.000000, 128.000000}</string>
			<key>uuid</key>
			<string>0402196F-78BF-432A-96B3-3FFA78BBC9D7</string>
		</dict>
		<key>button</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{96.000000, 20.000000}, {30.000000, 58.000000}}</string>
			<key>offset</key>
			<string>{-23.000000, 9.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26.000000, 26.000000}, {30.000000, 58.000000}}</string>
			<key>sourceSize</key>
			<string>{128.000000, 128.000000}</string>
			<key>uuid</key>
			<string>A86107B1-9F9F-4F79-9900-7F44A944283B</string>
		</dict>
		<key>hero</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<true/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array>
					<dict>
						<key>category</key>
						<integer>1</integer>
						<key>density</key>
						<real>0.29999999999999999</real>
						<key>friction</key>
						<real>0.69999999999999996</real>
						<key>mask</key>
						<integer>65535</integer>
						<key>name</key>
						<string>UntitledConcaveShape</string>
						<key>points</key>
						<array>
							<array>
								<string>{-5.5, -7}</string>
								<string>{5.5, -7}</string>
								<string>{5.5, 6.5}</string>
								<string>{-6, 6.5}</string>
								<string>{-6, -6.5}</string>
							</array>
						</array>
						<key>restitution</key>
						<integer>0</integer>
						<key>sensor</key>
						<false/>
						<key>shapeID</key>
						<integer>0</integer>
					</dict>
				</array>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>frame</key>
			<string>{{100.000000, 2.000000}, {12.000000, 14.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30.000000, 58.000000}, {12.000000, 14.000000}}</string>
			<key>sourceSize</key>
			<string>{12.000000, 14.000000}</string>
			<key>uuid</key>
			<string>5CFE4D3D-6C15-4342-8C6C-B9097D6F91CC</string>
		</dict>
		<key>jumpButton</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{48.000000, 2.000000}, {44.000000, 44.000000}}</string>
			<key>offset</key>
			<string>{-6.000000, -4.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36.000000, 46.000000}, {44.000000, 44.000000}}</string>
			<key>sourceSize</key>
			<string>{128.000000, 128.000000}</string>
			<key>uuid</key>
			<string>A6BD89F3-D061-4D94-B261-2B130DCBE313</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>ratio</key>
		<integer>1</integer>
		<key>size</key>
		<string>{128.000000, 132.000000}</string>
		<key>textureFileName</key>
		<string>spritesheets.png</string>
	</dict>
</dict>
</plist>
